body {
    background-color: rgb(0, 0, 0);
}

h2 {
    margin-left: 8px;
    color: #ff5c00;
}

.logo {
    width: 36px;
    height: 36px;

}

.div-borda {
    margin-left: 8px;
    margin-right: 8px;
    background-color: #4b4a54;
    height: 169;
    width: 95%;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
}

.cards {
    align-items: center;
    height: 138px;
    width: 91px;
    display: flex;

    flex-basis: auto;
}

.card-img-top {
    height: 138;
    width: 83px;
}

.flix {
    color: white;

}

.hub {
    color: #ff5c00;
}

.h2-topo {
    margin-top: 20px;
}

.nome-site {
    display: flex;
}

.carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }