@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,300;1,400&display=swap');
body {
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin-left: 8px;
    color: #ff5c00;
}

.logo {
    width: 36px;
    height: 36px;

}

.flix {
    color: white;

}

.hub {
    color: #ff5c00;
}

.h2-topo {
    margin-top: 20px;
}
.link-nome{
  text-decoration: none;
}
.nome-site {
    display: flex;
}
.fundo-menu{
  height: 55px;
}
.link{
    text-decoration: none;
    color: white;
}

.div-borda {
    margin-left: 3%;
    margin-right: 3%;
    background-color: #4b4a54;
    width: 94%;
    display: flex;
}
.img{
  width: 91px;
  height: 138;
}
.filmes {
  height: 138px;
  width: 91px;
  margin: 10px;
}
@media screen and (min-width: 706px) {
  .img {
      height: 230px;
      width: 150px;
  
  }
  
  .filmes {
      height: 230px;
      width: 150px;
      margin: 13px;
  }
  .fundo-menu{
    height: 65px;
}
}

footer {
    background-color: #4b4a54;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
}

a {
    color: white;
}

a:hover {
    color: #ff5c00;
}

.imgFooter {
    width: 45px;
}

.Direitos {
    color: white;
}

.FLIX {
    color: white;
}

.HUB {
    color: #ff5c00;
}

.TamanhoFooter {
    width: 200px;

}

.LogoOFC {
    width: 70px;
    margin-bottom: 30px;
}

.ListaFooter {
    list-style: none;
    text-decoration: none;
}

.ListaFooterDiv {
    margin-bottom: 20px;
}

.voltar {
    color: white;
}

.FooterDiv2 {
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 706px) {
    .voltar {
        margin: 10px;
    }

    .FooterDiv {
        gap: 700px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .FooterDiv2 {
        gap: 70px;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .TamanhoFooter {
        width: 150px;
    }

    .FLIX {
        font-size: 70px;
    }

    .HUB {
        font-size: 70px;
    }
}