body{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}
h2{
   margin-left: 3%;
    color: #ff5c00;
}
.home-filmes{
    background-color: #4b4a54;
    height: 50px;
}
.logo{
    width: 36px;
    height: 36px;

}
.fundo-menu{
    height: 55px;
}
.flix{
    color: white;
    
    }
    .hub{
    color: #ff5c00;
    }
    .h2-topo{
    margin-top: 20px;
    }
    .nome-site{
        display: flex;
    }
    .link{
        text-decoration: none;
        color: white;
    }
.carousel-item{
height: 15%;
width: 100%;
}
.carrocel-pai{
    margin: 10px;
}


.div-borda {
    margin-left: 3%;
    margin-right: 3%;
    background-color: #4b4a54;
    width: 94%;
    display: flex;

}

.img {
    height: 138px;
    width: 91px;

}

.filmes {
    height: 138px;
    width: 91px;
    margin: 10px;
}
.link-nome{
    text-decoration: none;
}



footer {
    background-color: #4b4a54;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
}

a {
    color: white;
}

a:hover {
    color: #ff5c00;
}

.imgFooter {
    width: 45px;
}

.Direitos {
    color: white;
}

.FLIX {
    color: white;
}

.HUB {
    color: #ff5c00;
}

.TamanhoFooter {
    width: 200px;

}

.LogoOFC {
    width: 70px;
    margin-bottom: 30px;
}

.ListaFooter {
    list-style: none;
    text-decoration: none;
}

.ListaFooterDiv {
    margin-bottom: 20px;
}

.voltar {
    color: white;
}

.FooterDiv2 {
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 706px) {
    .voltar {
        margin: 10px;
    }

    .FooterDiv {
        gap: 700px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .FooterDiv2 {
        gap: 70px;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .TamanhoFooter {
        width: 150px;
    }

    .FLIX {
        font-size: 70px;
    }

    .HUB {
        font-size: 70px;
    }
}



@media screen and (min-width: 706px) {
    .img {
        height: 230px;
        width: 150px;
    
    }
    
    .filmes {
        height: 230px;
        width: 150px;
        margin: 20px;
    }
    .fundo-menu{
        height: 65px;
    }
    .carrossel{
        width: 75%;
        
    }
    .carrocel-pai{
        display: flex;
        justify-content: center;
    }
    .banner{
        height: 100%;
    }
}