.logo{
    width: 36px;
    height: 36px;
}
body {
    background-color: rgb(0, 0, 0);
}

h2 {
    margin-left: 8px;
    color: #ff5c00;
}

.logo {
    width: 36px;
    height: 36px;

}
.flix {
    color: white;

}

.hub {
    color: #ff5c00;
}
.nome-site {
    display: flex;
}