.logo {
    width: 36px;
    height: 36px;
}

body {
    background-color: rgb(0, 0, 0);
}

h2 {
    margin-left: 8px;
    color: #ff5c00;
}

.logo {
    width: 36px;
    height: 36px;

}

.flix {
    color: white;

}

.hub {
    color: #ff5c00;
}

.nome-site {
    display: flex;
}

.form {
    display: flex;
}

.pesquisar {
    background-color: black;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: white;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    justify-content: center;
}

.div-borda {
    
    background-color: #2f2f2f;
    height: 169;
    width: 340px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;

}

.img {
    height: 138px;
    width: 84px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.caixa-de-generos {
    background-color: #2f2f2f;
}

.classes {
    background-color: #4b4a54;
    color: white;
    border-color: #4b4a54;
    width: 152px;
    height: 36px;
    margin: 5px;
}

.conjunto-divs {
    justify-content: center;
}