body {
    background-color: rgb(0, 0, 0);
    
}
p{
    color: white;
}
h2{
    color: #ff5c00;
}
.home-filmes {
    background-color: #4b4a54;
    height: 50px;
}

.logo {
    width: 36px;
    height: 36px;
}

.flix {
    color: white;

}

.hub {
    color: #ff5c00;
}

.h2-topo {
    margin-top: 20px;
}

.nome-site {
    display: flex;
}
.links{
    text-decoration: none;
    color: white;
}
.link-nome{
    text-decoration: none;
}
.imagem-principal{
    height: 282px;
    width: 184px;
}
.imagem-meio{
    margin-top: 26px;
    display: flex;
    justify-content: center;  
}

.conteudo{
    background-color: #4b4a54;
}
.texto{
    margin-left: 8px;
    margin-right: 8px;
}
.link{
    text-decoration: none;
    color: white;
}
.fundo-menu{
    height: 55px;
}
@media (min-width: 750px) {
    .dados-do-filmes{
        display: flex;
    }
    .imagem-principal{
        height: 560px;
        width: 367px;
    }
    .div-imagem{
        margin-right: 66px;
        margin-left: 132px;
    }
    .div-dados{
        margin-right: 132px;
        margin-left: 66px;
    }
    .fundo-menu{
        height: 65px;
    }
  }

  footer {
    background-color: #4b4a54;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
}

a {
    color: white;
}

a:hover {
    color: #ff5c00;
}

.imgFooter {
    width: 45px;
}

.Direitos {
    color: white;
}

.FLIX {
    color: white;
}

.HUB {
    color: #ff5c00;
}

.TamanhoFooter {
    width: 200px;

}

.LogoOFC {
    width: 70px;
    margin-bottom: 30px;
}

.ListaFooter {
    list-style: none;
    text-decoration: none;
}

.ListaFooterDiv {
    margin-bottom: 20px;
}

.voltar {
    color: white;
}

.FooterDiv2 {
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 706px) {
    .voltar {
        margin: 10px;
    }

    .FooterDiv {
        gap: 700px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .FooterDiv2 {
        gap: 70px;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .TamanhoFooter {
        width: 150px;
    }

    .FLIX {
        font-size: 70px;
    }

    .HUB {
        font-size: 70px;
    }
}